.navBarStaff {
    display: flex;
    position: absolute;
    top: 40%;
    width: 80%;
    height: 7%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    left: 10%;
    align-items: center;
    border-radius: 30px;
    opacity: 50%;
    color: rgb(173, 8, 8);
    font-weight: bold;
    justify-content: space-around;
    border: 2px solid #E13374;
    align-items: center;
}

.fondStaff {
    background-image: url("../img/decor6.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.red {
    width: 2px;
    background-color: #E13374;
    height: 50px;
}

.equipe {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    top: 50%;
    gap: 3rem;
    padding: 5px 300px 5px 300px;
    z-index: 600;
}

.equipeItem {
    position: relative;
    padding-top: 5px;
}

.equipeItem img {
    width: 5rem;
    height: 5rem;
    border: 2px solid #E13374;
    border-radius: 50%;
}

.equipeItemReseaux {
    visibility: hidden;
    position: absolute;
    left: -40px;
    top: 10px;
}

.equipeItemReseaux img {
    height: 2rem;
    width: 2rem;
    margin: 5px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    opacity: 75%;
}

/*////////// MOBILE FIRST //////////*/
@media (max-width: 634px) {

    .navBarStaff {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 25%;
        width: 40%;
        height: 38%;
        left: 30%;
        border-radius: 30px;
        opacity: 50%;
        color: rgb(173, 8, 8);
        justify-content: center;
    }

    .red {
        display: none;
    }

    h3 {
        font-size: 1.5rem;
    }

    .equipe {
        display: flex;
        position: absolute;
        flex-wrap: wrap;
        justify-content: center;
        top: 63%;
        gap: 2.5rem;
        padding: 45px;
        z-index: 600;
    }

    .fondStaff {
        background-image: url("../img/decor6.png");
        height: 140vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

}