#logo {
    width:18%
}

header{
    position: sticky;
    top: 0;
    z-index: 2001;
}

.navbar-brand {
    z-index: 0;
    position: absolute;
    top: 10%;
}

#ul-nav {
    position: relative;
    left: 17%;
    align-items: center;
    justify-content: space-between;
}

.tutoEvent{
    display: flex;
    flex-direction: row;
}

#navbarColor01 {
    justify-content: space-between;
}

.nav-link {
    padding: 0;
}

/*////////// MOBILE FIRST //////////*/
@media (max-width: 634px) {

    #logo {
        width:15%
    }

    .navbar-brand {
        z-index: 0;
        position: absolute;
        top: 10%;
        left: 25;
        height: 50px;
        right: -182%;
      }

      #ul-nav {
        position: relative;
        left: -0%;
        justify-content: space-between;
        padding-top: 10px;
    }

    .tutoEvent{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home {
    display: none;
}


}