#logo {
    width: 19%;
}

header{
    position: sticky;
    top: 0;
    z-index: 2001;
}

.navbar-brand {
    z-index: 0;
    position: absolute;
    top: 20%;
}

#ul-nav {
    position: relative;
    left: 17%;
    align-items: center;
    justify-content: space-between;
}

.tutoEvent{
    display: flex;
    flex-direction: row;
}

#navbarColor01 {
    justify-content: space-between;
}

.nav-link {
    padding: 0;
}

/*////////// MOBILE FIRST //////////*/
@media (max-width: 634px) {

}