/* reseaux */
.container_reseaux {
    position: fixed;
    top: 20px;
    visibility: hidden;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top : 89%;
    z-index: 5000;
}

.reseaux {
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.5em #8a8a8a;
    border-radius: 25px;
}

.reseaux img {
    margin: 0 7px;
}

.logoDiscord2 {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 45.5%;
    bottom: 20px;
    z-index: 5000;
    cursor: pointer;
}

