.vip {
    position: absolute;
    z-index: 700;
    color: aliceblue;
    width: 70%;
    top: 40%;
    justify-content: center;
    text-align: justify;
}

.vip1, .vip2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

}

.scf-textVip1, .scf-textVip2 {
    width: 600px;
}

.vip1 {
    padding-bottom: 100px;
    right: 20%;
}